.Cart__Table__Container{
    padding-top: 0.9rem;
    overflow-x: auto;
}

.Item__Header{
    padding-left: 0.62rem;
    padding-right: 0.62rem;
}

.Cart__Table{
    margin: auto;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.Row__Header {
    background-color: gray;
    color: white;
    font-weight: bold;
    padding: 0.7rem;
}

.Item__Row {
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 0.62rem;
}

.Brand__Name {
    font-size: 0.75rem;
    color: gray;
}