  th{
    border: 1px solid black;
    background-color: darkgray;
  }

  td{
    border: 1px solid black;
    background-color: lightgrey;
  }
  
  .Cart__table {
    table-layout: auto;
    width: 100%;  
    border-collapse: collapse;
    border: 1px solid black;
  }
  
  .Total__Value {
    margin-top: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .Total__Value__containerr {
    padding: 2px 16px;
  }

  #Checkout__button{
    width: fit-content;
  }